@yellow: rgb(250, 244, 126);

.margenes(@top: 0px, @botton: 0px)
{
    margin-top: @top;
    margin-bottom: @botton;
}

.jumbotron{
    background-color: @yellow;
    color: black;
    .margenes(50px, 8px);
}

.footer{
    padding: 10px 10px 0 10px;
    background-color: @yellow;
    .margenes(50px, 0px);
}

.card-hotel{
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
    .margenes(10px, 3px);
}


.footer-adress-icone{
    padding-right: 5px;
}

.card{
    width: 25rem;

}

.container-descriccion{
    width: 100%;
}
