.jumbotron {
  background-color: #bd9999;
  color: black;
  margin-top: 50px;
  margin-bottom: 9px; }

.footer {
  padding: 10px 10px 0 10px;
  background-color: #bd9999;
  margin-top: 50px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 150px;
  padding: 2px 5px 2px 5px;
  margin-top: 10px;
  margin-bottom: 3px; }

.footer-adress-icone {
  padding-right: 5px; }

.card {
  width: 25rem; }

.container-descriccion {
  width: 100%; }
