$yellow: rgb(189, 153, 153);

@mixin margenes($top, $botton)
{
    margin-top: $top;
    margin-bottom: $botton;
}

.jumbotron{
    background-color: $yellow;
    color: black;
    @include margenes(50px, 9px);
}

.footer{
    padding: 10px 10px 0 10px;
    background-color: $yellow;
    @include margenes(50px, 0px);
}

.card-hotel{
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
    @include margenes(10px, 3px);
}


.footer-adress-icone{
    padding-right: 5px;
}

.card{
    width: 25rem;

}

.container-descriccion{
    width: 100%;
}
